<?xml version='1.0' encoding='utf-8'?>
<widget id="com.guardian.system" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>El Guardian</name>
    <description>
        Un sistema operativo a medida para la mente.
    </description>
    <author email="juancitoozmarichal.07@gmail.com" href="">
        Juan Gonzalo Marichal
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-build-tool" value="gradle" />
</widget>
